body{
  padding-top: 20px;
  background-color: #f0f0f0;
}

#search {
  margin: 10px 0px 10px 0px;
}

/*
.channel {
  display: inline-block;
  width: 154px;
  height: 140px;
  border: 1px dashed;
  margin: 5px;
  background-color: #ffffff;
} */
.channel {
  min-width: 14em;
  max-width: 320px;
}

.channel-logo {
  width: 100%;
  height: 108px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}




.item_name {
  text-align: center;
  width: 100%;
  height: 24px;
  position: relative;
  bottom: 0px;
  left: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.item_id {
  text-align: center;
  width: 100%;
  height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgba(0, 0, 0, 0);
}

.filter-btn {
  width: 100px;
}


/*.favicon{
  position: absolute;
  right: 1px;
  top: 1px;
  font-size: 16px;
  color: #E2AE0C;
}*/

.favicon:before{
   content:"\e007"
}

.recicon:before{
   content:"\e165"
}

.FAVORITES .favicon:before{
  content:"\e006"
}

